
*{
width:100%;
margin: 0;
padding: 0;
font-family: monospace;
background-image:url(pic/wood.webp);
color:white;

body{
width: 100%;

}
}
footer{
text-align: center;
width:100%;


}
.logo{
position: relative;
float: left;
width: 20%;
margin:auto;
margin-left: 20px;
margin-right: 20px;
border: solid white 2px ;
border-radius: 100%;
}

.heading{
width:100%;
color:yellow;
box-shadow: 20px;
border-radius: 5px;
text-align: center;

}
.headcell{
margin-top:3px;
margin-bottom:10%;
}


.works{
width:90%;
margin: auto;
display:grid;
border:solid white ;
border-radius: 2px;
}
.name{
text-align: center;
color:yellow;
}



