
@media only screen and (max-width: 600px)
{


.MainHead{

   padding-top:2%;
   padding-bottom:2%;
   background-color:#008fa9;
  
}
.detail{
   padding-top:50px;
   font-family: monospace;
   padding-left:20px;
}
div.scroll {
   margin:auto;
   background-color:#bbdeee;
   width:92%;
   overflow-x: auto;
   overflow-y: hidden;
   white-space: nowrap;
   padding: 10px;
   
}
.works{

height:200px;
border-radius:5px;
border:solid white 2px;
margin:10px;
transition: transform 0.3s ease; /* Smooth transition */
}
.works.active
{
   box-shadow:10px 5px 10px black;
   transform: scale(1.1);
    z-index:1;/* Bring the active image to the front */
}
.MainNav{
height:20px;
margin: auto;
background-color:#008fa9;

}
.SearchNav{
float: right;
display:flex;
padding-right:20px;

}
.SearchTF{
width: 150px;
float: right;
display:inline;

}
.works_open{
width: 90%;
display: grid;
align-items: center;
margin: auto;
border:solid #F3FEB8 5px;
     
}
}

