*{
    margin:0; 
    padding:0;
    max-width:100%;
    
 }
 .MainHeadTitle{
   
    text-align: center;
   font-family:monospace;

}

body{
    background-color: whitesmoke;
    
}
footer{
    height: 50px;
  
}
.open_works 
{  text-align: center;
   display: block;
   margin: auto;
   width: 97%;
   border:solid wheat 2px;
  border-radius: 5px;


}

input[type="text"]{
 border-radius:2px;
 margin:0 0 0 10px;
 height: 15px;
 border:solid white 2px;
 font-size: 12px;
background-color: whitesmoke;
}
button[type="submit"]
{
border-radius:2px;
border: none;
padding:0 10px 0 10px;
background-color:lightgreen;
} 

.moreH{
 text-align: center;
 border: solid wheat 5px; 
 background-color: whitesmoke;
}









