
@media only screen and (max-width: 600px)
{


.MainHead{

   padding-top:2%;
   padding-bottom:2%;
   background-color:#e3a93b;
  border:solid #007F5F 1px;
}


.vishwakarma{
width:15%;
display:inline;
margin-top: 2%;
margin-left: 2%;
}
.kalikamba{

   width:13%;
   display:inline;
   float:right;
   margin-top: 2%;
  margin-right: 2%;

}
.detail{
   padding-top:50px;
   font-family: monospace;
   padding-left:20px;
}
div.scroll {
   margin:auto;
   background-color:#2596be;
   width:94%;
   overflow-x: auto;
   overflow-y: hidden;
   white-space: nowrap;
   padding: 10px;
   border:solid #2B9348 1px;
}
.works{

height:200px;
border-radius:5px;
border:solid white 2px;
}
.MainNav{
height:20px;
margin: auto;
background-color:goldenrod;
border: solid black 1px;
}
.SearchNav{
float: right;
display:flex;

}
.SearchTF{
width: 150px;
float: right;
display:inline;

}
.home{
color: black;
text-decoration: none;
margin-left: 10px;
}
.works_open{
width: 90%;
display: grid;
align-items: center;
margin: auto;
border:solid wheat 5px;
     
}
}

