@media only screen and (min-width: 600px)
{
   .MainHead{
      
      background-color:#FFDE4D;
      padding-top:2%;
      padding-bottom:2%;
      border:solid black 1px;
   }
   .vishwakarma{
   width:12%;
   display:inline;
   margin-top: 2%;
   margin-left: 2%;
   }
   .kalikamba{
   
      width:10%;
      display:inline;
      float:right;
      margin-top: 2%;
     margin-right: 2%;
   
   }

  .detail{

  font-family: monospace;
 padding-left:20px;
 padding-top:50px;
  }


  .works{
   
   height:200px;
   margin:auto;
   border-radius:5px;
   border:solid white 2px;
   }
   div.scroll {
     
      margin:auto; 
      background-color: #FFB22C;
      width:100%;
      border-radius:5px;
      overflow-x: auto;
      overflow-y: hidden;
      white-space:nowrap;
      padding: 10px;
      border:solid #2B9348 1px;
     
     
   }
   .MainNav{
   height:20px;
    margin: auto;
    border: solid black 1px;
    background-color: goldenrod;
   }
   .SearchNav{
      float: right;
      padding-right:20px;
      display:flex;
      
      }
   .SearchTF{
      margin-left:10px;
      width: 150px;
      
      
   }
   .home{
    color: black;
    text-decoration: none;
    margin-left:20px;
    
   }

   .works_open{
    width: 90%;
    display: block;
    margin:0 auto;
    border:solid wheat 5px;
      
   }
   

}





