*{
    margin:0; 
    padding:0;
    max-width:100%;
    
 }
 .MainHeadTitle{
   
    text-align: center;
   font-family:monospace;

}

body{
    background-color: whitesmoke;
    
}
footer{
    height: 150px;
  
}
.open_works 
{  text-align: center;
   display: block;
   margin: auto;
   width: 90%;
   border:solid wheat 10px;
 

}